*, *::before, *::after {
  box-sizing: border-box;
}

body {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  text-align: center;
  color: cyan;
  background-color: #111111;
}

table {
  border: 1px solid cyan;
  margin: 25px auto;
  font-size: 40px;;
}

td {
  border: 1px solid cyan;
  width: 60px;
  height: 60px;
}

button {
  color: cyan;
  border: 1px solid cyan;
  background-color: #111111;
}