@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;700;900&display=swap');

.hello {
  background: url('./icon.png');
  color: red;
  font-family: 'Montserrat', sans-serif;
}


