body {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

p {
  font-size: 25px;
  font-weight: 100;
}

button {
  font-family: inherit;
  font-weight: bold;
  font-size: 2em;
  padding: 15px;
  margin: 20px;
  border: 1px solid black;
  border-radius: 5px;
}

button:hover {
  background-color: rgb(114, 114, 114);
  color: white;
  border: 1px solid black;
  border-radius: 5px;
}

/* End global styles */


.container {
  display: grid;
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: white;
}

.container-wrapper {
  height: 100vw;
  width: 100vw;
  max-height: 600px;
  max-width: 600px;
  margin: 25px auto;
  position: relative;
  border: 3px solid black;
}


.container > * {
  height: 100%;
  background-color: #ffffff;
  transition: all 0.2s;
  border: 1px solid black;
}
