body {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  display: flex;
  flex-direction: column;
  margin: 0px;
  padding: 20px;
  text-align: center;;
}

button {
  font-family: inherit;
  font-weight: bold;
  font-size: 2em;
  padding: 15px;
  margin: 20px;
}

p {
  font-size: 25px;
  font-weight: 100;
}

button:hover {
  background-color: rgb(194, 35, 35);
  color: white;
}

